.button-orange-large {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
    font-size: 16px;
    width: 120px;
    text-align: center;
    height: 40px;
    border-radius: 30px;
    color: white;

    &:hover {
        cursor: pointer;
    }
}